body {
	margin: 0;
	padding: 0;

	font-family: "Roboto Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	 text-transform: uppercase;

	background-color: #ffffff;
}

.main-header {
	 background-color: #eeeeee;
	 margin: 0;
	 min-height: 545px;
	 padding: 50px 0 0;
}

.main-header-catalog {
  min-height: 355px;
  background-color: #eeeeee;
  margin: 0;
  padding: 50px 0 0;
}

.container {
	margin: 0 auto;
	padding: 0;
	position: relative;
	max-width: 1160px;
	min-height: 100px;
}


a {
	text-decoration: none;
}

.main-navigation {
	font-weight: 500px;
}
.main-navigation .main-header-logo {
	position: absolute;
}

.main-navigation .wrapper {
	display: flex;
	padding-top: 28px;
	margin-left: 362px;
	text-transform: uppercase;
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation li {
	margin-right: 46px;
}

.site-navigation a {
	color: #000000;
}

.basket {
	color: #000000;
}

.site-navigation a:hover {
 color: #fb565a;
 }

 .basket:hover {
 	color: #fb565a;
 }

.site-navigation a:focus {
 	color: #b3b3b3;
}

.basket:focus {
	color: #b3b3b3;
}

.basket:activ,.site-navigation a:activ {
	border-bottom:2px solid #fb565a;
	padding-bottom:8px;
}


.basket {
	display: flex;
	margin: 0 0 0 auto;
	padding: 0;

}

.features-list {
	margin: 0;
	padding: 0;

	list-style: none;

  width: 376px;
  margin-bottom: 50px;
}

.button {
	font: inherit;

	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}


.button-feature {
	width: 240px;
  height: 50px;
  background-color: #fb565a;
	line-height: 18px;
	color: #ffffff;
}

.button-feature:hover {
	background-color: #e74246;
}
.button-feature:active {
	background-color: #eeeeee;
}

.scroll-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 80px 0;

	list-style: none;
	border-bottom: 2px solid #eeeeee;
}

.scoroll-item:last-child {
	margin-right: 60px;
}

.scoroll-list h4 {
	padding: 0;
	margin: 19px 0 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700px;
	text-transform: uppercase;
}

.scroll p {
	width:275px;
	margin-bottom:33px;
}

.scroll-item .button {
	 width: 160px;
	 padding: 15px 0;
	  height: 50px;
	color: #ffffff;
}


.button-red {
  background-color: #fb565a;
}

.button-red:hover {
	background: #e74246;
	}

.button-red:focus {
	background-color:  #d7373b; 
}

.button-green {
	background-color: #00ca74;
}

.button-green:hover {
	background: #00bc6c;
}

.button-green:focus {
	background-color: #00aa62;
}

.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover  {
	background:#eab534; 
}

.button-yellow:focus {
	background-color: #e5a722; 
}


.friends-logo {
	list-style: none;
}
.friends-logo-item {
	object-fit: contain;
  opacity: 0.2;
}

.friends-logo-item:hover {
	 object-fit: contain;
	 }
.friends-logo-item:active {
	object-fit: contain;
  opacity: 0.1;
}
.big-divider {
  width: 1160px;
  height: 2px;
}
.letter-item input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #d7dcde;
}

.letter-item input:hover {
	border: solid 2px #b4b9bb;
}
.letter-item input:focus {
	border: solid 2px #000000;
	}

button[type=submit] {
	width: 260px;
  height: 50px;
  background-color: #fb565a;
	color: #ffffff;
	}

	.filter-list {
		list-style: none;
		padding: 0;
		margin: 0;
  margin-bottom: 55px;
  }

.button-submit[type=submit] {
	background-color: #eeeeee;

color: #000000;
 width: 260px;
  height: 50px;
  }

.button-submit-grey[type=submit] {
 width: 260px;
  height: 50px;
  background-color: #eeeeee;
  color: #000000;
}

   .button-submit[type=submit]:hover {
  	 width: 260px;
  height: 50px;
  background-color: #dfdfdf;
  }

  .button-submit[type=submit]:active {
  	width: 260px;
  height: 50px;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  }

  .active-page {
  	text-decoration: underline;
  }
	
.pagination-list {
	list-style: none;
  width: 280px;
  margin: 30px auto;
  padding: 10px;

  white-space: nowrap;

  background-color: #ffffff;
}

.pagination-list li {
	  display: inline-block;
  min-width: 20px;
  height: 43px;
  padding: 0 10px;

  background-color: #eeeeee;
   text-align: center;
  line-height: 40px;
  vertical-align: middle;
  font-weight: bold;
}

 .pagination-list li:hover { 
 	background-color: #dfdfdf;
 }

  .pagination-list li:active {
  	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

  .pagination-list li:first-child {
  	border: solid 3px #dbdbdb;
  	background-color: #ffffff;
  }


 .list {
 	list-style: none;
 	 color: #b3b3b3;
}


.list:hover {
	color: #666666;
}
.list:active {
	color: #000000;
}

input[type="radio"]:disabled {
	opacity: 0.4;
	background-color: #4d4d4d;
}

input[type="checkbox"]:disabled {
	opacity: 0.4;
	background-color: #4d4d4d;
	}
	/*сетка*/

	.main-header {
		margin-bottom: 80px;
	}

	.main-header-catalog {
		margin-bottom: 60px;
	}
.main-navigation {
	display: flex;
}

.main-header-logo {
	margin-left: auto;
}
	
.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;

}

.scroll {
	margin-bottom: 80px;
	margin-top: 80px;
}

.scroll-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 140px 80px;
}

.scroll-item {
	width: 300px;
}

.friends-logo {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 140px 80px;
	margin-bottom: 80px;
}

.main-footer {
	margin-top: 80px;
	padding: 80px 0;
}

.footer-contacts {
	margin: 0;
}

.main-footer .container {
	display: flex;
	width: 1440px;

}

.footer-social {
	width: 270px;
}

.footer-discount {
	width: 545px;
	margin-right: 539px;
}
.friend-logo-item {
	width: 200px;
}

.container-map {
	position: relative;

}

.address {
	position: absolute;
	top: 100px;
	left: 140px;
	width: 319px;
  height: 308px;
  margin: auto;
	background-color: #ffffff;

}

.map .footer-contacts {
	width:297px;
	padding:32px 10px 46px;
	background-color:#ffffff;
}
 .button-footer {
	 width: 219px;
  height: 50px;
  color: #ffffff;
  background-color: #fb565a;
	margin-left:40px;
	margin-top:35px;
}

.description {
	display: flex;
	justify-content: space-between;
	padding: 140px 80px;
	margin-bottom: 80px;

}

.description-table {
width: 650px;
}

.description-logo {
width: 360px;
}

.catalog-columns {
	  display: flex;
  justify-content: space-between;
}

.catalog-list {
	  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item {
	 width: 360px;
  margin-bottom: 40px;
  margin-right: 40px;
  
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}

